  <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css" />
  
  <section class="section-later sign-up">
    <div class="container">
      <form id="signup" method="get">
        <div class="header"><h3>Sign Up</h3></div>
        <div class="sep"></div>
        <div class="inputs">
        <input type="text" id="name" maxlength="200" placeholder="name" required>
        <input type="email" id="email" placeholder="email" required>
        </div>
        <fieldset> gender  &nbsp;  
          <input class="inputs" type="radio" name="gender" id="male" value="male"> 
          <label for="m">male</label>
          <input class="inputs" type="radio" name="gender" id="female" value="female">
          <label for="f">female</label>
        </fieldset>
        <fieldset> date of birth &nbsp; &nbsp;
          <input class="inputs" type="date" id="dob">
        </fieldset>
        <input type="checkbox" class="inputs" id="terms"> 
        <label for="t">I accept the terms and conditions</label><br>
        <!-- <div class="inputs"><a id="submit" href="#">SIGN UP</a></div> -->
        <input type="submit" class="inputs" id="submit"> 
      </form>
    </div>
  </section>
