<title>4am Tests - Timer + Zoom Image om Scroll + Signup </title>

<link rel="stylesheet" type="text/css" href="/stylesheets/zoom.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
  // TIMER
  var goLiveTime = new Date('Sep 12, 2020 23:59:59').getTime();
  var updateTime = setInterval( 
    function () {
      var now = new Date().getTime();
      var remainingTime = goLiveTime - now;
      if (remainingTime > 0) {
        d = Math.floor(remainingTime / (1000 * 24 * 60 * 60));
        h = Math.floor((remainingTime % (1000 * 24 * 60 * 60)) / (1000 * 60 * 60));
        m = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
        s = Math.floor((remainingTime % (1000 * 60)) / 1000);
        document.getElementById('days').innerHTML = d; 
        document.getElementById('hours').innerHTML = h;
        document.getElementById('min').innerHTML = m;
        document.getElementById('sec').innerHTML = s;
      } 
    }, 
    1000
  );
  
  // Zoom image on scroll
  $(window).scroll(function() {
    var scroll = $(window).scrollTop(); 
    $("#js-hero img").css({ 
      width: (100 + scroll/5) +"%"
    })
  })
  
</script>

<body>
  <center>
  
  <section class="timer">
    <strong>
      <div>  
        <p><span id="days"></span><br/>days</p>
        <p><span id="hours"></span><br/>hours</p>
        <p><span id="min"></span><br/>minutes</p>
        <p><span id="sec"></span><br/>seconds</p>
      </div> 
    <strong>
  </section>
  
  
  <section class="section-later hero-section" id="js-hero">
    <img src="https://source.unsplash.com/random/1920x1080" alnt="Image " />
  </section>

  <section class="section-later sign-up">
    <div class="container">
      <form id="signup">
        <div class="header"><h3>Sign Up</h3></div>
        <div class="sep"></div>
        <div class="inputs">
          <input type="text" id="name" maxlength="200" placeholder="name" required>
          <input type="email" id="email" placeholder="email" required>
        </div>
        <fieldset> gender  &nbsp;  
          <input class="inputs" type="radio" name="gender" id="male"> 
          <label for="m">male</label>
          <input class="inputs" type="radio" name="gender" id="female">
          <label for="f">female</label>
        </fieldset>
        <fieldset> date of birth &nbsp; &nbsp;
          <input class="inputs" type="date" id="dob">
        </fieldset>
        <input type="checkbox" class="inputs" id="terms"> 
        <label for="t">I accept the terms and conditions</label><br>
        <div class="inputs"><a id="submit" href="#">SIGN UP</a></div>
      </form>
    </div>
  </section>


  </center>
</body>
